<meta charset="UTF-8"></meta>
	<header class="green main-header">
		<a href="/home" class="logo">
      		<span class="logo-mini"><b>W</b>F</span>
      		<span class="logo-lg"><b>Web</b>Form</span>
    	</a>
    	<nav class="navbar navbar-static-top">
      		<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        		<span class="sr-only">Toggle navigation</span>
      		</a>
      		<div class="navbar-custom-menu">
        		<ul class="nav navbar-nav">
          			<li class="dropdown user user-menu">
            			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
              				<span class="hidden-xs"></span>
            			</a>
		            	<ul class="dropdown-menu">
		            		<li class="user-header">
		              			<img src="adminLte/dist/img/1.png" width="30px !important" height="30px !important" class="img-circle" alt="User Image">
		                		<p> <small>Email: </small> </p>
		              		</li>   
		              
		              		<li class="user-footer">
		                  		<a>Sign out</a>
		              		</li>
            			</ul>
          			</li>
        		</ul>
     		</div>
		</nav>
</header>