<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
	
	<title>Bem vindo ao AUREA</title>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link rel="stylesheet" href="css/index.css">
	
</head>
<body>
	<nav>
		<h1 class = "logo"><a href="#"> Picolé Gourmet</a></h1>
		<ul>
			<li><a href="#"> Home 		</a>
			<li><a href="#"> Serviços	</a>
			<li><a href="#"> Contato	</a>
			<li><button class="buttons" > Registrar</button></li>
			<li><button class="buttons" > Acessar	</button></li>
		</ul>
		<div style = "clear: both"></div>
	</nav>

	<div class = "menu-responsivo">
		<h3 class="brand"><a href="#"> Picolé Gourmet</a></h3>
		<h4 class="menu"> Menu </h4>
		<div style="clear: both"></div>
	</div>
	
	<section id = "banner">
	
	</section>
	
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="js/index.js"></script>
</body>
</html>