<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>

	<title>Picolé Gourmet | Conectar-se </title>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
</head>
<body>
	<form role="form" th:action = "@{/conectar}" th:object="${usuario}" method = "post">
			
			<input type = "text" name = "username"	id = "username" placeholder ="username" maxlength="16" 	required>
			<input type = "text" name = "password"	id = "password" placeholder ="password" maxlength="16" 	required>
			
		<div class="row">
			<button type = "submit"> Cadastrar </button>
			<button type = "button"> Cancelar  </button>
		</div>
	</form>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="js/index.js"></script>
	
</body>
</html>