<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
	
	<title>Bem vindo ao Painel AUREA</title>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link rel="stylesheet" href="css/painel.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
</head>
<body>
	
	<div class="container">
		<div class="pagina">
			<div class="caixa">
				<h2> Pedidos realizados</h2>
			</div>
		
			<div class="caixa">
				<div class="limiter">
					<div class="container-table100">
						<div class="wrap-table100">
							<div class="table pedidos m-b-110">
								<table data-vertable="pedidos">
									<thead>
										<tr class="linha head">
											<th class="column column1" data-column="column1"></th>
											<th class="column column2" data-column="column2">Sunday</th>
											<th class="column column3" data-column="column3">Monday</th>
											<th class="column column4" data-column="column4">Tuesday</th>
											<th class="column column5" data-column="column5">Wednesday</th>
											<th class="column column6" data-column="column6">Thursday</th>
											<th class="column column7" data-column="column7">Friday</th>
											<th class="column column8" data-column="column8">Saturday</th>
										</tr>
									</thead>
									<tbody>
										<tr class="linha">
											<td class="column column1" data-column="column1">Lawrence Scott</td>
											<td class="column column2" data-column="column2">8:00 AM</td>
											<td class="column column3" data-column="column3">--</td>
											<td class="column column4" data-column="column4">--</td>
											<td class="column column5" data-column="column5">8:00 AM</td>
											<td class="column column6" data-column="column6">--</td>
											<td class="column column7" data-column="column7">5:00 PM</td>
											<td class="column column8" data-column="column8">8:00 AM</td>
										</tr>
			
										<tr class="linha">
											<td class="column column1" data-column="column1">Jane Medina</td>
											<td class="column column2" data-column="column2">--</td>
											<td class="column column3" data-column="column3">5:00 PM</td>
											<td class="column column4" data-column="column4">5:00 PM</td>
											<td class="column column5" data-column="column5">--</td>
											<td class="column column6" data-column="column6">9:00 AM</td>
											<td class="column column7" data-column="column7">--</td>
											<td class="column column8" data-column="column8">--</td>
										</tr>
			
										<tr class="linha">
											<td class="column column1" data-column="column1">Billy Mitchell</td>
											<td class="column column2" data-column="column2">9:00 AM</td>
											<td class="column column3" data-column="column3">--</td>
											<td class="column column4" data-column="column4">--</td>
											<td class="column column5" data-column="column5">--</td>
											<td class="column column6" data-column="column6">--</td>
											<td class="column column7" data-column="column7">2:00 PM</td>
											<td class="column column8" data-column="column8">8:00 AM</td>
										</tr>
			
										<tr class="linha">
											<td class="column column1" data-column="column1">Beverly Reid</td>
											<td class="column column2" data-column="column2">--</td>
											<td class="column column3" data-column="column3">5:00 PM</td>
											<td class="column column4" data-column="column4">5:00 PM</td>
											<td class="column column5" data-column="column5">--</td>
											<td class="column column6" data-column="column6">9:00 AM</td>
											<td class="column column7" data-column="column7">--</td>
											<td class="column column8" data-column="column8">--</td>
										</tr>
			
										<tr class="linha">
											<td class="column column1" data-column="column1">Tiffany Wade</td>
											<td class="column column2" data-column="column2">8:00 AM</td>
											<td class="column column3" data-column="column3">--</td>
											<td class="column column4" data-column="column4">--</td>
											<td class="column column5" data-column="column5">8:00 AM</td>
											<td class="column column6" data-column="column6">--</td>
											<td class="column column7" data-column="column7">5:00 PM</td>
											<td class="column column8" data-column="column8">8:00 AM</td>
										</tr>
			
										<tr class="linha">
											<td class="column column1" data-column="column1">Sean Adams</td>
											<td class="column column2" data-column="column2">--</td>
											<td class="column column3" data-column="column3">5:00 PM</td>
											<td class="column column4" data-column="column4">5:00 PM</td>
											<td class="column column5" data-column="column5">--</td>
											<td class="column column6" data-column="column6">9:00 AM</td>
											<td class="column column7" data-column="column7">--</td>
											<td class="column column8" data-column="column8">--</td>
										</tr>
			
										<tr class="linha">
											<td class="column column1" data-column="column1">Rachel Simpson</td>
											<td class="column column2" data-column="column2">9:00 AM</td>
											<td class="column column3" data-column="column3">--</td>
											<td class="column column4" data-column="column4">--</td>
											<td class="column column5" data-column="column5">--</td>
											<td class="column column6" data-column="column6">--</td>
											<td class="column column7" data-column="column7">2:00 PM</td>
											<td class="column column8" data-column="column8">8:00 AM</td>
										</tr>
			
										<tr class="linha">
											<td class="column column1" data-column="column1">Mark Salazar</td>
											<td class="column column2" data-column="column2">8:00 AM</td>
											<td class="column column3" data-column="column3">--</td>
											<td class="column column4" data-column="column4">--</td>
											<td class="column column5" data-column="column5">8:00 AM</td>
											<td class="column column6" data-column="column6">--</td>
											<td class="column column7" data-column="column7">5:00 PM</td>
											<td class="column column8" data-column="column8">8:00 AM</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="js/index.js"></script>
</body>
</html>