<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
	
	<title>Picolé Gourmet | Contato</title>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/painel.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
</head>
<body>
	<nav>
		<h1 class = "logo"><a href="#"> Picolé Gourmet</a></h1>
		<ul>
			<li><a href="/home"> Home 		</a>
			<li><a href="/pedidos"> Pedidos	</a>
			<li><a href="/contato"> Contato	</a>
		</ul>
		<div style = "clear: both"></div>
	</nav>
	
	<div class = "menu-responsivo">
		<h3 class="brand"><a href="#"> Picolé Gourmet</a></h3>
		<h4 class="menu"> Menu </h4>
		<div style="clear: both"></div>
	</div>
	
	<div class="pagina">	
		<div class="caixa">
		<form th:action="@{/contato}" th:object = "${contato}" method = "post" >
					<input 		class="input"		type="text" maxlength="255" id="assunto" 	name="assunto" 		placeholder="Assunto" required>
					<input 		class="input"		type="text" maxlength="100" id="email" 		name="email" 	   	placeholder = "Email" required>
					<textarea  	class="textarea"		  	    maxlength="255" id="descricao"   name="descricao" 	placeholder = "descricao" required></textarea>
				
				<div class = "row">
					<button type = "button" id="cancel"> Cancelar </button>
					<button type = "submit" id="submit"> Confirmar</button>
				</div>
			</form>
			</div>
	</div>	
	
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="js/painel.js"></script>
</body>
</html>