<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>

	<title>Picolé Gourmet | Registrar-se </title>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
</head>
<body>
	<form role="form" th:action = "@{/registrar}" th:object="${usuario}" method = "post">
			<input type = "text" name = "nome" 		id = "nome" 	placeholder ="nome" 	maxlength="120"	required>
			<input type = "text" name = "cep"  		id = "cep" 		placeholder ="cep" 		maxlength="10"	required>
		<div class = "row">
			<input type = "text" name = "bairro" 	id = "bairro"	placeholder ="bairro" 	maxlength="120" required>
			<input type = "text" name = "logadouro" id = "logadouro"placeholder ="rua" 		maxlength="120" required>
			<input type = "text" name = "numero" 	id = "numero" 	placeholder ="numero" 	maxlength="8" 	required>
		</div>
		<div class = "row">
			<input type = "text" name = "cidade" 	id = "cidade" 	placeholder ="cidade" 	maxlength="120" required>
			<input type = "text" name = "estado" 	id = "estado" 	placeholder ="estado" 	maxlength="120" required>
		</div>
			<input type = "text" name = "username"	id = "username" placeholder ="username" maxlength="16" 	required>
			<input type = "text" name = "password"	id = "password" placeholder ="password" maxlength="16" 	required>
			
		<div class="row">
			<button type = "submit"> Cadastrar </button>
			<button type = "button"> Cancelar  </button>
		</div>
	</form>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="js/index.js"></script>
	
</body>
</html>