@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,900');
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300';

$padding:30px;

body{
	padding		: 0;
	margin		: 0;
	font-family	: "Raleway", Arial, Helvetica, sans-serif !important;
	min-width	: 255px;
	background: #4d4d4d; 
  	background: -webkit-linear-gradient(right, #4d4d4d, #4d4d4d);
 	background: -moz-linear-gradient(right, #4d4d4d, #4d4d4d);
  	background: -o-linear-gradient(right, #4d4d4d, #4d4d4d);
  	background: linear-gradient(to left, #4d4d4d, #4d4d4d);
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;  
}


* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
	margin			: 0px;
	list-style-type	: none;
}

input:hover {
	color 			 : black;
	background-color : #ccc;
}

footer{
	padding		: 0;
	margin		: 0;
	font-family	: "Raleway", Arial, Helvetica, sans-serif !important;
	background: #4d4d4d; 
  	background: -webkit-linear-gradient(right, #4d4d4d, #4d4d4d);
 	background: -moz-linear-gradient(right, #4d4d4d, #4d4d4d);
  	background: -o-linear-gradient(right, #4d4d4d, #4d4d4d);
  	background: linear-gradient(to left, #4d4d4d, #4d4d4d);
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale; 
  	height: 100px; 
  	text-align: center;
}

footer p{
	color: white;
	font-size: 16px;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

form {
	display: block !important;	
}

form .textarea {
  font-family	: "Roboto", sans-serif;
  outline		: 0;
  background	: #f2f2f2 !important;
  width			: 100%;
  border		: 0;
  margin		: 0 0 10px !important;
  padding		: 15px;
  box-sizing	: border-box;
  height		: 200px; 
  font-size		: 14px;
}

form .input {
  font-family	: "Roboto", sans-serif;
  outline		: 0;
  background	: #f2f2f2;
  width			: 100%;
  border		: 0;
  margin		: 0 0 10px;
  padding		: 15px;
  box-sizing	: border-box;
  font-size		: 14px;
}
form button {
  font-family		: "Roboto", sans-serif;
  text-transform	: uppercase;
  outline			: 0;
  background		: #4d4d4d;
  width				: 49%;
  border			: 0;
  margin-bottom		: 15px;
  padding			: 15px;
  color				: #FFFFFF;
  font-size			: 14px;
  -webkit-transition: all 0.3 ease;
  transition		: all 0.3 ease;
  cursor			: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

.limiter {
  width	: 100%;
  margin: 0 auto;
}


.pagina {
	width	: 100%;
  	padding	: 5% 0 0;
  	margin	: auto;
}

.caixa {
  	position	: relative;
  	z-index		: 1;
  	background	: #FFFFFF;
  	max-width	: 90%;
  	margin		: 0 auto 100px;
  	padding		: 45px;
  	text-align	: center;
  	box-shadow	: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


table {
  width: 100%;
  background-color: #fff;
}

th, td {
  font-weight	: unset;
  padding-right	: 10px;
}

.column {
  width			: 130px;
  padding-left	: 25px;
}

.column.column1 {
  width			: 265px;
  padding-left	: 42px;
}

.linha.head th {
  padding-top	: 24px;
  padding-bottom: 20px;
}

.linha td {
  padding-top: 18px;
  padding-bottom: 14px;
}


.table.pedidos td {
  font-family: Montserrat-Regular;
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
}

.table.pedidos th {
  font-family: Montserrat-Medium;
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;

  background-color: #333333;
}

.table.pedidos .linha:hover td {
  background-color: #83d160;
  color: #fff;
}

.table.pedidos .hov-column-pedidos {
  background-color: #83d160;
  color: #fff;
}

.table.pedidos .hov-column-head-pedidos {
  background-color: #484848 !important;
}

.table.pedidos .linha td:hover {
  background-color: #57b846;
  color: #fff;
}

.m-b-110 {margin-bottom: 110px;}



.container-fluid {
  position			: absolute !important;
  display			: contents !important;
  left				: 50% !important;
  top				: 50% !important;
  -webkit-transform	: translateY(-50%) translateX(-50%);
          transform	: translateY(-50%) translateX(-50%) !important;
  width				: 100% !important;
}

.media {
  background-position	: center !important;
  background-size		: cover !important;
  height				: 100%;
  position				: absolute;
  transition			: all 0.3s ease;
  width					: 100%;
}

figure {
	height		: 370px;
  	overflow	: hidden;
  	position	: relative;
}

figure a {
  height	: 50%;
  left		: 0;
  position	: absolute;
  top		: 0;
  width		: 100%;
  z-index	: 3;
}

figure:hover .media {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

figcaption {
  color		: #252830;
  height	: calc(100% - 30px);
  padding	: 15px;
  left		: 0;
  position	: absolute;
  top		: 0;
  width		: 250px;
}

svg {
  height: inherit;
  width: 100%;
}

svg text {
  text-anchor: middle;
}

svg #alpha {
  	fill		: white;
    width		: 100%;
    height		: 100%;
    padding		: 0px;
    text-align	: center;
    margin		: 0px;
}

svg .title {
  font-size: 28px;
  font-family: "Montserrat";
  letter-spacing: 5px;
}

svg #base {
  fill: white;
  -webkit-mask: url(#mask);
  mask: url(#mask);
}

svg #base2 {
  fill: white;
  -webkit-mask: url(#mask2);
  mask: url(#mask2);
}

@media only screen and (max-width: 768px) { 
	
	svg {
  		height	: inherit;
  		width	: 60%;
	}
	
	figure {
		height	: 200px;
	}
	
	figcapitation{
    	left	: -30px;
    	width	: 180px;
	}
	
	figurecaption {
		width	: 170px;
		height	: calc(100% - 70px);
	}

	.caixa {
		padding: 10px;
	}
	
	.col-md-6 {
		margin-bottom: 0.5em;
	}
	
	table {
		width			: 100%;
		max-width		: 100px;
    	overflow-x		: scroll !important;
    	margin-bottom	: 20px;
	}
	
	.table {
		overflow-y		: scroll;
	}

}

@media only screen and (min-width:769px and max-width: 1200px) {

	svg {
  		height	: inherit;
  		width	: 60%;
	}
	
	figure {
		height	: 300px;
	}
	
	figurecaption {
		width	: 200px;
		height	: calc(100% - 50px);
	}
	
	table {
		max-width	: 100px;
		overflow-x	: scroll !important;
	}
}

